.recent-leads{

    background:rgba(255,255,255,0.75);

    backdrop-filter:blur(15px);

    padding:25px;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

}



.table-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}



.table-header h2{

    display:flex;

    align-items:center;

    gap:10px;

    color:#4c1d95;

    font-size:20px;

}



.view-all-btn{

    border:none;

    background:#8b5cf6;

    color:white;

    padding:8px 15px;

    border-radius:10px;

    cursor:pointer;

}



.table-container{

    overflow-x:auto;

}



table{

    width:100%;

    border-collapse:collapse;

}



th{

    text-align:left;

    padding:12px;

    font-size:13px;

    color:#6b7280;

    background:#f3e8ff;

}



td{

    padding:14px 12px;

    border-bottom:1px solid #eee;

    font-size:14px;

}





.status,
.priority{

    padding:5px 12px;

    border-radius:20px;

    font-size:12px;

    font-weight:600;

}



.status.new{

    background:#ede9fe;

    color:#6d28d9;

}



.status.contacted{

    background:#dbeafe;

    color:#2563eb;

}



.status.qualified{

    background:#dcfce7;

    color:#16a34a;

}



.status.lost{

    background:#fee2e2;

    color:#dc2626;

}



.status.closed{

    background:#fef3c7;

    color:#d97706;

}





.priority.high{

    background:#fee2e2;

    color:#dc2626;

}



.priority.medium{

    background:#fef3c7;

    color:#d97706;

}



.priority.low{

    background:#dcfce7;

    color:#16a34a;

}