<section class="statistics">



<div class="stat-card">


    <div class="stat-icon">

        <i class="bi bi-people-fill"></i>

    </div>


    <div class="stat-details">

        <h2>
            {{statistics.totalLeads}}
        </h2>

        <p>
            Total Leads
        </p>

    </div>


</div>





<div class="stat-card">


    <div class="stat-icon">

        <i class="bi bi-person-plus-fill"></i>

    </div>


    <div class="stat-details">

        <h2>
            {{statistics.newLeads}}
        </h2>


        <p>
            New Leads
        </p>


    </div>


</div>





<div class="stat-card">


    <div class="stat-icon">

        <i class="bi bi-telephone-fill"></i>

    </div>


    <div class="stat-details">


        <h2>
            {{statistics.todayFollowUps}}
        </h2>


        <p>
            Today's Followups
        </p>


    </div>


</div>





<div class="stat-card">


    <div class="stat-icon">

        <i class="bi bi-tags-fill"></i>

    </div>


    <div class="stat-details">


        <h2>
            {{statistics.categories}}
        </h2>


        <p>
            Categories
        </p>


    </div>


</div>



</section>