/* ==========================================================
   HOST
   ========================================================== */

:host{

    display:flex;

    flex-direction:column;

    min-height:100vh;

}


/* ==========================================================
   LAYOUT
   ========================================================== */

.layout-container{

    display:flex;

    flex:1;

}


/* ==========================================================
   CONTENT
   ========================================================== */

.layout-content{

    flex:1;

    padding:var(--spacing-large);

    overflow-y:auto;

}


/* ==========================================================
   TABLET
   ========================================================== */

@media (max-width:1199px){

    .layout-content{

        padding:var(--spacing-medium);

    }

}


/* ==========================================================
   MOBILE
   ========================================================== */

@media (max-width:767px){

    .layout-container{

        position:relative;

    }

    .layout-content{

        width:100%;

        padding:var(--spacing-medium);

    }

}