.card {
  box-shadow: var(--shadow-large);
}

.card-body {
  padding: 20px;
}

.border-l-4 {
  border-left-width: 4px;
}

.overflow-auto {
  max-height: 280px;
}

.overflow-auto::-webkit-scrollbar {
  width: 6px;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}